body{
            background-color:#ffffff;
            color:#000000;
        }
        .theme-toggle{
            width:fit-content;
            border: 1px solid black;
            border-radius: 50px;
            padding: 2px 10px;
            position: fixed;
            top:10px;
            right:10px;
            cursor:pointer;
            font-size:16px;
        }
        .theme-toggle-light{
            border:1px solid #f5a142;
        }
        .theme-toggle-dark{
            border:1px solid white;
        }
        @media screen and (max-width: 600px){
        .theme-toggle{
            top: 8px;
            right: 8px;
            font-size: 14px;
            padding: 4px 8px;
        }
    }
